/*热卖推荐开始*/
.contain{
    width: 100%;
    background-color: #e5e5e5;
    overflow: hidden;
}
.wrap{
    width: 1190px;
    margin: 0 auto;
}
.left{
    width: 305px;
    height: 785px;
    background-color: antiquewhite;
    float: left;
}
.right{
    width: 885px;
    height: 785px;
    background-color: blue;
    float: left;
}
.right>div{
    width: 290px;
    height: 390px;
    background-color: brown;
    margin-left: 5px;
    float: left;
}
.one{
    margin-bottom: 5px;
}
/*热卖推荐结束*/

